LANGCHAIN_API_KEY=Your_langsmith_api_key_here

LANGCHAIN_TRACING_V2=true

LANGCHAIN_PROJECT=text-to-sql-agent


OPENAI_API_KEY=your_openai_api_key
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=order_management